<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>JobRecurimentApplication</display-name>
  <welcome-file-list>
    <welcome-file>pd.jsp</welcome-file>
    <welcome-file>SSC.jsp</welcome-file>
    <welcome-file>inter.jsp</welcome-file>
    <welcome-file>degree.jsp</welcome-file>
    <welcome-file>none.jsp</welcome-file>
    <welcome-file>style.css</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PerDet</display-name>
    <servlet-name>PerDet</servlet-name>
    <servlet-class>jobrecure.PerDet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerDet</servlet-name>
    <url-pattern>/PerDet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inter</display-name>
    <servlet-name>Inter</servlet-name>
    <servlet-class>jobrecure.Inter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inter</servlet-name>
    <url-pattern>/Inter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Degree</display-name>
    <servlet-name>Degree</servlet-name>
    <servlet-class>jobrecure.Degree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Degree</servlet-name>
    <url-pattern>/Degree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tenth</display-name>
    <servlet-name>Tenth</servlet-name>
    <servlet-class>jobrecure.Tenth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tenth</servlet-name>
    <url-pattern>/Tenth</url-pattern>
  </servlet-mapping>
</web-app>